<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Example</title>

</head>
<div>
    <center><h1>Home</h1></center>
</div>

<div id="header">
<center>
    <table class="table table-striped">
        <tr>
            <td><a href="/terminal/new">Create new Terminal</a></td>
            <td><a href="/terminals">View Terminals</a></td>
        </tr>
        <tr></tr>
        <tr>
            <td><a href="/location/new">Create new Location</a></td>
            <td><a href="/locations">View Locations</a></td>
        </tr>
        <tr></tr>
        <tr>
            <td><a href="/user/new">Create new User</a></td>
            <td><a href="/users">View Users</a></td>
        </tr>
    </table>
</center>
</div>
</body>
</html>